@{
    ViewData["Title"] = "Home Page";
}

<h1>HOME</h1>

<div>

</div>

<ul>
    <li> @Html.ActionLink("List table", "ListTable", "Dynamo") </li>
    <li> @Html.ActionLink("Create table", "CreateTable", "Dynamo") </li>
    <li> @Html.ActionLink("Insert item", "InsertItem", "Dynamo") </li>
</ul>
